/* Reset margin and padding for body and html */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styles */
body,
html {
  height: 100%;
  width: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #ffd700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  padding: 40px;
  gap: 50px;
}

.section {
  background-color: #4a4a4a;
  padding: 20px;
  border-radius: 50px;
  font-size: 28px;
  font-weight: 500;
  color: #fff275;
  gap: 15px;
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4a4a4a;
  margin-top: 30px;
  gap: 50px;
}

.phone {
  font-size: 55px;
  font-weight: bolder;
}

.deliveryText {
  font-size: 40px;
  font-weight: 600;
}

.rotate {
  display: inline-block;
  transform: rotate(-25deg);
  color: #fff;
}

/* Media Queries */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 20px;
    gap: 30px;
  }

  .section {
    font-size: 40px;
    width: 300px;
    height: 300px;
  }

  .phone {
    font-size: 50px;
  }

  .deliveryText {
    font-size: 40px;
  }

  .rotate {
    transform: rotate(-20deg);
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .main {
    flex-direction: column;
    gap: 20px;
  }

  .section {
    font-size: 30px;
    width: 250px;
    height: 250px;
  }

  .phone {
    font-size: 40px;
  }

  .deliveryText {
    font-size: 30px;
  }

  .rotate {
    transform: rotate(-15deg);
  }
}
